@import '../../global/variables';

.demo-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 46px;

  @media screen and (max-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 36px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

demo-card {
  padding-bottom: 20px;

  h4 {
    margin-bottom: 0;
  }
  p {
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 1.5;
  }
}

.demo-card__image {
  border-radius: 15px;
  overflow: hidden;
  background: $color-white;
  box-shadow: $card-shadow;
  border-radius: 13px;

  img {
    width: 100%;
    vertical-align: bottom;
  }
}
