landing-page {
  display: block;
  text-align: center;

  .button-docs {
    color: #ffffff;
    background-color: #5661F7;
    padding: 10px 15px;
    border-radius: 2px;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
}
