landing-page {
  a {
    margin-left: 4px
  }

  lazy-iframe div {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }

  lazy-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
}