feature-pill a {
  margin-top: 3px;
  background: linear-gradient(89.97deg, #5353FF 0.03%, #FF4A55 99.14%);
  border-radius: 200px;
  color: white;
  padding: 6px 12px 8px;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  transition: .2s box-shadow, .3s transform;
  position: relative;
  z-index: 2;
}

feature-pill a:hover {
  transform: translateY(-1px);
  box-shadow: 0px 4px 8px rgba(2,8,20,0.1),0px 2px 4px rgba(2,8,20,0.08);
}

feature-pill span {
  display: inline-block;
}

feature-pill svg {
  height: 1em;
  margin: 0;
  vertical-align: -2px;
  display: inline-block;
  transition: .3s transform;
}

feature-pill a:hover svg {
  transform: translateX(1px);
}

@media screen and (max-width: 768px) {
  feature-pill a {
    max-width: 500px;
    padding: 8px 16px 10px;
  }

  feature-pill svg,
  landing-page .hero feature-pill svg {
    transform: none;
    margin-top: 0;
  }
}