
app-icon .icon-checkmark {
  fill: var(--color-dodger-blue);
  width: 15px;
  height: 11px;
}

app-icon .icon-targetblank {
  fill: var(--color-cadet-blue);
  width: 9px;
  height: 9px;
}

app-icon .icon-slack,
app-icon .icon-twitter {
  fill: var(--color-woodsmoke);
  width: 16px;
  height: 16px;
}

app-icon .icon-menu {
  fill: var(--color-dodger-blue);
  width: 17px;
  height: 15px;
}

app-icon .icon-close {
  fill: var(--color-dodger-blue);
  width: 14px;
  height: 14px;
}

app-icon .icon-more {
  fill: var(--color-dodger-blue);
  width: 4px;
  height: 18px;
}
