@import '../../global/variables';

app-icon {
  .icon-checkmark {
    fill: $color-dodger-blue;
    width: 15px;
    height: 11px;
  }

  .icon-targetblank {
    fill: $color-cadet-blue;
    width: 9px;
    height: 9px;
  }

  .icon-slack,
  .icon-twitter {
    fill: $color-woodsmoke;
    width: 16px;
    height: 16px;
  }

  .icon-menu {
    fill: $color-dodger-blue;
    width: 17px;
    height: 15px;
  }

  .icon-close {
    fill: $color-dodger-blue;
    width: 14px;
    height: 14px;
  }

  .icon-more {
    fill: $color-dodger-blue;
    width: 4px;
    height: 18px;
  }
}
