.ds-title {
  font-size: 36px;
}
.ds-blurb {
}

.measure-lg {
  margin-left: auto;
  margin-right: auto;
}

.ds-cta {
  text-align: center;
}

.ds-plans {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  margin-bottom: 60px;
}

.ds-plan {
  flex: 1;
}

.ds-plan h2 {
  font-size: 24px;
}

.ds-plan ul a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
}

.ds-bottom-callout {
  margin: 40px 0;
  text-align: center;
}
.ds-bottom-callout .btn {
  margin: auto;
}

.hs-form .actions {
  text-align: center;
}
.hs-form .hs-button {
  cursor: pointer;
}
.hubspot-override {
  margin-bottom: 100px;
}
/*
.hs-form {
  max-width: 420px;
  margin: 40px auto;
  font-weight: 400; }
  .hs-form .hs-form-required {
    display: none; }
  .hs-form form fieldset.form-columns-2 .input {
    margin-right: 12px; }
  .hs-form form.stacked .field {
    margin-bottom: 4px; }
  .hs-form .hs-input,
  .hs-form input.hs-input,
  .hs-form select.hs-input {
    border: 1px solid #e1e5ed;
    font-weight: 500;
    border-radius: 4px;
    transition: border-color .2s;
    box-shadow: none;
    outline: none;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429; }
    .hs-form .hs-input:placeholder,
    .hs-form input.hs-input:placeholder,
    .hs-form select.hs-input:placeholder {
      color: #a0a5b0; }
    .hs-form .hs-input:hover, .hs-form .hs-input:focus, .hs-form .hs-input:active,
    .hs-form input.hs-input:hover,
    .hs-form input.hs-input:focus,
    .hs-form input.hs-input:active,
    .hs-form select.hs-input:hover,
    .hs-form select.hs-input:focus,
    .hs-form select.hs-input:active {
      outline: none;
      border-color: #4a8bfc;
      box-shadow: none; }
    .hs-form .hs-input.hs-input.error,
    .hs-form input.hs-input.hs-input.error,
    .hs-form select.hs-input.hs-input.error {
      border-color: #f8556c; }
  .hs-form select.hs-input {
    height: 44px;
    width: calc(100% + 6px) !important; }
  .hs-form textarea.hs-input {
    padding: 12px;
    width: calc(100% + 3px) !important;
    min-height: 192px; }
  .hs-form .hs_submit input.hs-button {
    font-size: 13px;
    padding: 10px 18px 10px;
    margin-right: -14px;
    margin-top: -36px;
    line-height: 23px;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
    text-shadow: none;
    background: var(--color-dodger-blue);
    color: white;
    margin-top: 25px;
    border: 0;
    outline: 0;
    transition: all .2s linear;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); }
    .hs-form .hs_submit input.hs-button:hover {
      border: 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
      background: #5995fc;
      color: #fff;
      outline: 0; }
    .hs-form .hs_submit input.hs-button:active, .hs-form .hs_submit input.hs-button:active:not(.inactive):not(.link), .hs-form .hs_submit input.hs-button:focus:not(.inactive) {
      border: 0;
      color: #fff;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
      background: #5995fc;
      outline: 0; }
  */

.hubspot-override .hs-form label {
  font-weight: 600;
  font-size: 14px;
  display: block;
  padding-bottom: 2px;
}
.hubspot-override .hs-form, .hs-form fieldset {
	 max-width: 100% !important;
}
 .hubspot-override .hs-form .hs-form-field {
	 margin-top: 16px;
}
 .hubspot-override .hs-form label {
	 margin-bottom: 3px;
}
 .hubspot-override .hs-form .hs-form-required {
	 display: inline;
	 color: #f45454;
	 margin-left: 4px;
}
 .hubspot-override .hs-form .hs-richtext {
	 margin-top: 8px;
}
 .hubspot-override .hs-form .hs-input, .hubspot-override .hs-form input.hs-input {
	 transition: border 0.3s;
	 font-weight: 500;
	 background-color: #fff;
	 background-image: none;
	 border: 1px solid #ced6e3;
	 line-height: 1.39286;
	 border-radius: 4px;
	 padding: 11px 15px;
	 font-size: 15px;
	 margin-bottom: 0;
	 color: #505863;
}
 .hubspot-override .hs-form input.hs-input[type="number"] {
	 float: none;
}

.hs-form .hs-input:hover, .hs-form .hs-input:focus, .hs-form .hs-input:active,
.hs-form input.hs-input:hover,
.hs-form input.hs-input:focus,
.hs-form input.hs-input:active,
.hs-form select.hs-input:hover,
.hs-form select.hs-input:focus,
.hs-form select.hs-input:active {
  outline: none;
  box-shadow: none; }

 .hubspot-override .hs-form input.hs-input[type="text"], .hubspot-override .hs-form input.hs-input[type="email"], .hubspot-override .hs-form input.hs-input[type="tel"] {
	 height: auto;
	 width: 100%;
	 float: none;
}
 .hubspot-override .hs-form input.hs-input[type="text"]:focus, .hubspot-override .hs-form input.hs-input[type="email"]:focus, .hubspot-override .hs-form input.hs-input[type="tel"]:focus, .hubspot-override .hs-form textarea:focus {
	 border-color: var(--color-dodger-blue);
}
 .hubspot-override .hs-form input.hs-input[type="radio"], .hubspot-override .hs-form input.hs-input[type="checkbox"] {
	 height: auto;
	 margin-right: 8px;
}
 .hubspot-override .hs-form .hs-form-booleancheckbox-display {
	 display: flex;
}
 .hubspot-override .hs-form select.hs-input {
	 height: 44px;
	 appearance: none;
	 background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
	 background-position: calc(100% - 20px) 50%, calc(100% - 15px) 50%;
	 background-size: 5px 5px, 5px 5px, 1px 1.5em;
	 background-repeat: no-repeat;
}

.hubspot-override .hs-form fieldset.form-columns-1 .hs-input {
  width: 100%;
}
 .hubspot-override .hs-form form fieldset.form-columns-2 .input {
	 margin: 0;
}
 .hubspot-override .hs-form fieldset.form-columns-2 .hs-form-field {
	 padding: 0 10px;
}
 .hubspot-override .hs-form fieldset.form-columns-2 .hs-form-field:first-child {
	 padding-left: 0;
}
 .hubspot-override .hs-form fieldset.form-columns-2 .hs-form-field:last-child {
	 padding-right: 0;
}
 .hubspot-override .hs-form .inputs-list, .hubspot-override .hs-form .hs-error-msgs {
	 margin: 0;
	 padding: 0;
	 list-style-type: none;
}
 .hubspot-override .hs-form .inputs-list.multi-container {
	 overflow: hidden;
}
 .hubspot-override .hs-form .inputs-list.multi-container li:nth-last-child(n+6):first-child, .hubspot-override .hs-form .inputs-list.multi-container li:nth-last-child(n+6):first-child ~ li {
	 width: 50%;
	 float: left;
	 padding-right: 11px;
}
 .hubspot-override .hs-form .inputs-list.multi-container li:nth-last-child(n+6):first-child ~ li:nth-child(even) {
	 padding-right: 0;
	 padding-left: 11px;
}
 .hubspot-override .hs-form .hs-form-checkbox-display {
	 margin-top: 4px;
	 display: flex;
}
 .hubspot-override .hs-form .hs-form-checkbox-display .hs-input[type="checkbox"] {
	 margin-right: 10px;
}
 .hubspot-override .hs-form .hs-form-checkbox-display span {
	 font-size: 15px;
	 color: #505863;
}
 .hubspot-override .hs-form .hs-error-msgs {
	 padding: 5px 0 0;
	 font-size: 11px;
	 color: #f45454;
}
 .hubspot-override .hs-form .hs_submit {
	 margin-top: 30px;
}
 .hubspot-override .hs-form .hs_submit input.hs-button {
	 transition: all .15s ease;
   text-decoration: none;
   border: none;
   outline: none;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   padding: 16px 20px;
   border-radius: 6px;
   letter-spacing: 0.04em;
   box-shadow: var(--button-shadow);
   cursor: pointer;
   display: inline-flex;
   align-items: center;;
   background: var(--color-dodger-blue);
   color: var(--color-white);
}
 .hubspot-override .hs-form .hs_submit input.hs-button:hover {
   text-decoration: none;
   transform: translateY(-1px);
   box-shadow: var(--button-shadow-hover);
}
 @media (max-width: 768px) {
	 .hubspot-override .hs-form fieldset.form-columns-2 .hs-form-field {
		 width: 100%;
		 float: none;
		 padding: 0;
	}
	 .hubspot-override .hs-form fieldset.form-columns-2 .hs-form-field + .hs-form-field {
		 margin-top: 24px;
	}
	 .hubspot-override .hs-form .inputs-list.multi-container li:nth-last-child(n+6):first-child, .hubspot-override .hs-form .inputs-list.multi-container li:nth-last-child(n+6):first-child ~ li {
		 width: 100%;
		 float: none;
		 padding-right: 0;
	}
	 .hubspot-override .hs-form .inputs-list.multi-container li:nth-last-child(n+6):first-child ~ li:nth-child(even) {
		 padding-left: 0;
	}
	 .hubspot-override .hs-form .hs_submit input.hs-button {
		 width: 100%;
	}
}

.hubspot-override .submitted-message {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 600;
  color: var(--color-dodger-blue);
  max-width: 410px;
  background-color: white;
  margin: 0 auto; }
