.navbar {
  display: flex;
  align-items: center;

  margin-inline-end: 1rem;

  :global(.navbar__logo) {
    margin-inline-end: .375rem;
  }

  > a {
    display: flex;
    align-items: center;

    &:last-of-type {
      margin-block-start: 1px;
    }
  }
}