
resources-page .list--unstyled {
  line-height: 1.4;
}

resources-page .list--unstyled li + li {
  margin-top: 20px;
}

resources-page h2 + .list--unstyled {
  margin-top: 22px;
}

resources-page .slide-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

resources-page .slide-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

resources-page a {
  text-decoration: none;
}
