# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
defaults: &defaults
  working_directory: ~/stencil-site
  docker:
    - image: circleci/node:7.10

jobs:
  build:
    <<: *defaults

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm build
      - persist_to_workspace:
          root: ./
          paths:
            - www
            - node_modules
            - firebase.json
            - .firebaserc

  deploy-job:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ./

      - run:
          name: Deploy Master to Firebase
          command: ./node_modules/.bin/firebase deploy --token=$FIREBASE_DEPLOY_TOKEN

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy-job:
          requires:
              - build
          filters:
            branches:
              only: master
