html, body {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  color: $color-woodsmoke;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  margin-top: 48px;
  margin-bottom: 8px;
}

h3 {
  margin-top: 48px;
  margin-bottom: 14px;
}

h4 {
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 8px;
}

p,
ul,
ol {
  color: $color-gunpowder;
  font-size: 15px;
  line-height: 1.8;
  margin: 14px 0px;

  a {
    transition: border 0.3s;
    color: $color-dodger-blue;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-weight: 500;

    &:hover {
      border-bottom-color: rgba($color-dodger-blue, 0.2);
    }
  }
}

blockquote {
  background: $color-old-lace;
  margin: 0;
  padding: 1px 20px;
  border-radius: 4px;

  p {
    color: $color-pirate-gold;
    line-height: 1.4;
    font-size: 14px;
  }
}
