$color-woodsmoke: #16161D;
$color-gunpowder: #505061;
$color-manatee: #8888A2;
$color-cadet-blue: #abb2bf;
$color-whisper: #EBEBF7;
$color-white-lilac: #f8f8fc;
$color-white: #fff;

$color-dodger-blue: #5851ff;

$button-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
$button-shadow-hover: 0 4px 6px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.08);
$card-shadow: 0 1px 3px 0 rgba(0,0,0,0.14), 0 4px 7px 0 rgba(0,0,0,0.09);

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;
