
:root {
  --color-woodsmoke: #16161D;
  --color-gunpowder: #505061;
  --color-manatee: #8888A2;
  --color-cadet-blue: #abb2bf;
  --color-whisper: #EBEBF7;
  --color-white-lilac: #f8f8fc;
  --color-white: #fff;

  --color-dodger-blue: #5851ff;

  --color-old-lace: #fdf5e4;
  --color-wheatfield: #F1E3C5;
  --color-pirate-gold: #9A6400;

  --button-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  --button-shadow-hover: 0 4px 6px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.08);

  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}

* {
  box-sizing: border-box;
}

*::selection,
*::-moz-selection {
  background: var(--color-whisper);
}

stencil-route-link:hover {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}
