@import './variables.css';
@import './buttons.css';
@import './headline.css';
@import './lists.css';
@import './measure.css';
@import './screenshot.css';
@import './utils.css';

* {
  box-sizing: border-box;
}

*::selection,
*::-moz-selection {
  background: var(--color-whisper);
}

stencil-route-link:hover {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}
