demos-page {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  p a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
