
stencil-site {
  min-height: 100%;
  display: block;
}

.left-sidebar-in {
  animation-name: slideIn;
  animation-duration: 0.7s;
  animation-timing-function: var(--ease-out-expo);
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - 56px);
  }
}

.left-sidebar-out {
  animation-name: slideOut;
  animation-duration: 0.7s;
  animation-timing-function: var(--ease-out-expo);
  animation-fill-mode: forwards;
}

@keyframes slideOut {
  from {
    left: calc(100vw - 56px);
  }
  to {
    left: 0;
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  flex: 1 0 auto;
}

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100.1vh;
  /* padding: 110px 0 0; */
  padding-top: 40px;
}

@media screen and (max-width: 768px) {
  .root {
    padding-top: 90px;
  }
}

footer {
  width: 100%;
  background: var(--color-white-lilac);
  flex: 0 0 8em;
  padding: 40px 0;
  display: flex;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .svg-button {
  margin-left: 16px;
  transition: all .15s ease;
}

footer .svg-button:hover {
  opacity: 0.5;
}

.footer__icons {
  display: flex;
}

.footer__open-source img {
  width: 50%;
}

.footer__open-source p {
  margin-top: 0;
  margin-bottom: 0;
  color: #6C7078;
  font-size: 10px;
}
