.landingPage {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .main-wrapper {
    padding-top: 92px;
    min-height: 100vh;
  }
}

@media (min-width: 768px){
    .landingPage .uiContainer {
        width: 768px;
    }
}
@media (min-width: 1024px) {
    .landingPage .uiContainer {
        width: 1024px;
    }
}
@media (min-width: 1216px) {
    .landingPage .uiContainer {
        width: 1152px;
    }
}



.landingPage .uiContainer {
    margin: auto;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

.landingPage .hero {
  position: relative;
  margin-top: 0px;
  margin-bottom: 220px;
}

.landingPage .hero hgroup {
  max-width: 564px;
  position: relative;
  z-index: 2;
}

.landingPage .hero hgroup h1 {
  font-size: 64px;
  line-height: 100%;
  margin-bottom: 32px;
  margin-top: 64px;
  letter-spacing: -0.04em;
  font-weight: 800;
}

.landingPage .hero hgroup p {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-dolphin);
  margin-bottom: 40px;
}

.btnGetStarted,
.btnWhyStencil {
  transition: all ease 0.15s;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 20px;
  border-radius: 100px;
  color: white;
  background: rgb(76, 72, 255);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.56px;
  /* box-shadow: rgba(2, 8, 20, 0.1) 0px 2px 4px 0px, rgba(2, 8, 20, 0.08) 0px 1px 2px 0px; */
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
}

.btnGetStarted:hover,
.btnWhyStencil:hover {
  text-decoration: none;
  transform: translateY(-1px);
  box-shadow: 0px 4px 8px rgba(2,8,20,0.1),0px 2px 4px rgba(2,8,20,0.08);
}

.btnWhyStencil {
  background: var(--color-purplewinkle);
  color: rgb(76, 72, 255);
  margin-left: 10px;
}

.landingPage .hero .landingPageBg {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-64px, -43%);
  margin-top: 20px;
}

.landingPage .companies {
  position: relative;
  /* z-index: 2; */
  padding-bottom: 80px;
  border-bottom: 1px solid var(--color-whisper);
}

.landingPage .companies h3 {
  font-weight: 600;
  font-size: 20px;
  max-width: 320px;
  margin-bottom: 40px;
}

.landingPage .companies ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPage .companies ul li {
  display: inherit;
}

.landingPage .cta {
  background: #F4F7FA;
  text-align: center;
  padding: 18px;
  margin-top: 36px;
}

.landingPage .ctaPrimary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.landingPage .ctaPrimary h3 {
  font-size: 20px;
}

.landingPage .ctaPrimary code {
  font-size: 16px;
  padding: 19px 26px 19px;
  user-select: none;
  border-radius: 8px;
  background-color: #161525;
  color: #E0E0F1;
  margin: 4px 0 4px;
  cursor: copy;
  transition: background-color 0.2s, color 0.2s;
}

.landingPage .ctaPrimary code:hover {
  background-color: #161525;
  color: #fff;
}

.landingPage .ctaPrimary code.copied {
  background-color: #5cba47;
  color: #fff;
}

.landingPage .ctaPrimary span,
.landingPage .ctaPrimary span a {
  font-size: 11px;
  color: var(--color-dolphin);
}

.landingPage .ctaPrimary span a,
.landingPage .ctaSecondary a {
  transition: border 0.3s;
  text-decoration: none;
  border-bottom: 1px solid #D7DBE6;
}

.landingPage .ctaPrimary span a:hover,
.landingPage .ctaSecondary a:hover {
  border-bottom-color: #C3C8D8;
}

.landingPage .ctaSecondary {
  font-size: 13px;
}

.landingPage section {
  padding: 160px 0;
}
.landingPage section:not(.overview):not(.gradientBg) + section:not(.stencilStory) {
  padding-top: 80px;
}

.landingPage section .twoCol {
  display: flex;
}

.landingPage section .twoCol hgroup {
  padding-right: 32px;
}

.landingPage section .twoCol > * {
  flex: 0 0 50%;
}

.landingPage section p + p,
.landingPage section p + ul.listUnstyled,
.landingPage section ul + p {
  margin-top: 16px;
}

.listUnstyled {
    list-style-type: none;
}


.landingPage section p + stencil-route-link {
  display: inline-block;
  margin-top: 20px;
}

.landingPage h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.018em;
  color: #7A798D;
  margin-top: 0;
  max-width: 416px;
}

.landingPage h2 strong {
  font-weight: 600;
  color: #100F22;
}

.landingPage h4 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.landingPage h6 {
  font-size: 15px;
  font-weight: 600;
}

.landingPage p,
.landingPage ul {
  margin: 0;
  color: var(--color-dolphin);
  font-size: 17px;
  line-height: 1.7;
}

.landingPage .overview {
  padding-bottom: 0;
}

.landingPage .overview ul {
  column-count: 2;
}

.landingPage .overview ul li {
  flex: 0 0 50%;
  font-size: 14px;
  line-height: 1.4;
  backface-visibility: hidden;
}

.landingPage .overview ul li+ li {
  margin-top: 12px;
}

.landingPage .gradientBg {
  background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
}

.landingPage .stencilStory {
  border-top: 1px solid var(--color-whisper);
  text-align: center;
  padding: 160px 0 90px;
}

.landingPage .stencilStory {
  max-width: 620px;
}

.landingPage .stencilStory h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.landingPage .stencilStory p {
  margin-bottom: 28px;
}

.landingPage .listIcon svg {
  fill: var(--color-dodger-blue) !important;
}

.landingPage .videos {
  display: flex;
  justify-content: center;
}

.landingPage .videoThumbnail {
  transition: transform 0.2s;
  display: block;
  margin: 0;
  width: 230px;
  height: 150px;
  position: relative;
  text-decoration: none;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landingPage .videoThumbnail + .videoThumbnail {
  margin-left: 16px;
}

.landingPage .videoThumbnail::before {
  transition: transform 0.2s;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.landingPage .videoThumbnailArchitecting::before {
  background-image: url('/img/video-thumbnail-3.png');
}

.landingPage .videoThumbnailLaunch::before {
  background-image: url('/img/video-thumbnail.png');
  background-position: center;
}

.landingPage .videoThumbnailAnnouncement::before {
  background-image: url('/img/video-thumbnail-2.png');
  background-position: center;
}

.landingPage .videoThumbnail:hover::before {
  transform: scale(0.982);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.landingPage .videoThumbnail span,
.landingPage .videoThumbnail svg {
  position: relative;
  z-index: 2;
}

.landingPage .videoThumbnail span {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-shadow: 0px 2px 4px rgba(2, 8, 20, 0.2);
}

.landingPage .videoThumbnail svg {
  transition: transform 0.2s;
  margin-bottom: 4px;
}

.landingPage .videoThumbnail:hover svg {
  transform: scale(1.05);
}

.landingPage .videoThumbnail svg circle {
  transition: fill-opacity 0.2s;
}

.landingPage .videoThumbnail:hover svg circle {
  fill-opacity: 1;
}

@media screen and (max-width: 960px) {
  .landingPage .companies ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: -20px;
    max-width: 544px;
  }

  .landingPage .companies ul li {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .landingPage .hero {
    text-align: center;
    margin-bottom: 140px;
  }

  .landingPage .hero hgroup {
    margin-left: auto;
    margin-right: auto;
  }

  .landingPage .hero svg.landing-page__bg {
    transform: translate(-50%, -50%);
    margin-top: 66px;
  }

  .landingPage .hero hgroup h1 {
    font-size: 48px;
  }

  .landingPage .companies {
    text-align: center;
  }

  .landingPage .companies ul {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .landingPage .companies h3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }

  .landingPage section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .landingPage section:not(.overview):not(.gradientBg) + section:not(.stencilStory) {
    padding-top: 0px;
  }

  .landingPage .uiContainer {
    max-width: 560px;
  }
  .landingPage .twoCol {
    flex-direction: column;
  }
}


@media screen and (max-width: 375px) {
  .landingPage .hero hgroup .heroButton,
  .landingPage .hero hgroup .heroButton a {
    width: 100%;
    display: block;
  }
  .landingPage .hero hgroup .heroButton + .heroButton {
    margin-left: 0;
    margin-top: 12px;
  }
}

.featureList {
  display: flex;
}

h2 + .featureList {
  margin-top: 96px;
}

.featureListItem {
  padding-right: 32px;
  flex: 1;
}

.featureListItem app-icon {
  padding: 1px;

}
.featureListItem svg {
  fill: #000 !important;
  width: 32px;
  height: 32px;
  margin: 0 0 8px;
}

.featureListItem h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-woodsmoke);
}

.featureListItem p {
  max-width: 270px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .featureList {
    flex-direction: column;
  }

  h2 + .featureList {
    margin-top: 48px;
  }

  .featureListItem {
    position: relative;
  }

  .featureListItem + .featureListItem {
    margin-top: 32px;
  }

  .featureListItem app-icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  .featureListItem svg {
    margin: 0;
    width: 24px;
    height: 24px;
  }

  .featureListItem p {
    max-width: 100%;
  }
}

.fwIcon {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url('/img/frameworks-sprite.png');
  background-repeat: no-repeat;
  background-size: 35px 140px;
}

.fwIconReact {
  background-position: 0 0;
}

.fwIconAngular {
  background-position: 0 -35px;
}

.fwIconVue {
  background-position: 0 -70px;
}

.fwIconEmber {
  background-position: 0 -105px;
}


.cardLinks {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  width: 100%;
}
.cardLinks li {
  margin: 6px;
}

.cardLinksItem a {
  transition: transform 0.2s;
  display: block;
  background: var(--color-white);
  font-size: 13px;
  font-weight: 400;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: none;
  width: 96px;
}

@media screen and (max-width: 940px) {
  .cardLinks li {
    flex: 0 0 50%;
    margin: 0;
    padding: 6px;
  }

  .cardLinksItem a {
    width: 100%;
  }
}

.cardLinksItem a:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
}

.cardLinksItem .fwIcon {
  margin: 8px 0 6px;
}


