site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  .site-header {
    max-width: 1080px;
    margin: auto;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .logo {
    width: 120px;
  }
  stencil-route-link {
    margin: 10px 20px;
    color: #484854;
  }
  .pull-right {
    order: 0;
    flex: 1 1 auto;
    align-self: center;
    text-align: right;
  }
  .button {
    color: #ffffff;
    background-color: #5850ff;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
@media screen and (max-width: 450px) {
  site-header {
    img {
      padding-bottom: 20px;
    }
    .site-header, .pull-right {
      display: block;
      text-align: center;
    }
  }
}
