site-header {
  position: relative;
  width: 100%;
  z-index: 99;
}

site-header .ui-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

site-header .ui-container .burger-menu {
  display: none;
}

site-header .ui-container stencil-route-link,
site-header .ui-container .header-menu > a {
  display: flex;
  align-items: center;
}

site-header .ui-container a app-icon {
  display: flex;
  align-items: center;
}

site-header .icon-logo {
  fill: #000;
}

body.dark site-header .icon-logo {
  fill: #fff;
}

.header-menu {
  display: flex;
  /* align-items: center; */
}

@media screen and (max-width: 768px) {
  site-header .ui-container {
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
  }
}

.header-menu a {
  position: relative;
  font-size: 14px;
  vertical-align: top;
  color: var(--color-gandalf);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: -0.02em;
  fill: var(--color-gandalf);
}

.header-menu stencil-route-link + stencil-route-link,
.header-menu a + stencil-route-link,
.header-menu stencil-route-link + a,
.header-menu stencil-route-link + .external-links,
.header-menu a + .external-links {
  margin-left: 36px;
}

.header-menu a::after {
  content: '';
  transition: opacity 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 3px;
  width: 100%;
  background: var(--color-whisper);
  opacity: 0;
}
.header-menu a:hover::after {
  opacity: 1;
  transition: opacity 0.3s;
}
.header-menu a.link-active::after {
  opacity: 1;
  transition: opacity 0.3s;
}

.header-menu docs-dropdown a::after {
  content: none;
}
.header-menu docs-dropdown a:hover::after {
  content: none;
}
.header-menu docs-dropdown a.link-active::after {
  content: none;
}

.header-menu a.link-active {
  color: var(--color-dodger-blue);
  fill: var(--color-dodger-blue);
}

body.dark .header-menu a {
  color: #dcdcee;
}

body.dark .header-menu a:hover {
  color: #fff;
}

body.dark .header-menu a.link-active:hover {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

body.dark .header-menu a {
  position: relative;
  color: #cdfcff;
  text-shadow: 0px 0px 8px rgba(112, 127, 255, 0.75), 0px 0px 40px #8790ff, 0px 0px 16px #2637ff;
}

.header-menu .external-links,
.header-menu .external-links li {
  display: flex;
  align-items: center;
}
.header-menu .external-links app-icon {
  display: flex;
}
.header-menu .external-links li + li {
  margin-left: 16px;
}
.header-menu .external-links docs-dropdown {
  color: var(--color-concrete);
  margin-inline-end: -1rem;
}
.header-menu .external-links docs-dropdown path {
  fill: inherit;
}
.header-menu .external-links docs-dropdown button {
  display: flex;
}

.header-menu .link--external {
  border-bottom: none;
}
.header-menu .link--external:hover {
  border-bottom: none;
  color: var(--color-gandalf);
}
.header-menu .link--external svg {
  transition: fill 0.2s;
  fill: var(--color-concrete);
}
.header-menu .link--external:hover svg {
  fill: var(--color-gandalf);
}

body.dark .header-menu .link--external:hover svg {
  fill: #fff;
}

.header-overflow {
  -webkit-appearance: none;
  border: 0;
  height: 24px;
  background: transparent;
  transition: opacity 0.3s;
  display: none;
  cursor: pointer;
  opacity: 0.7;
}
.header-close {
  display: none;
  padding: 0;
  -webkit-appearance: none;
  border: 0;
  height: 24px;
  background: transparent;
  transition: opacity 0.3s;
  position: fixed;
  right: 15px;
  top: 15px;
  display: none;
  cursor: pointer;
  opacity: 0.7;
}

.header-overflow:hover,
.header-close:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .header-close,
  .header-overflow {
    display: flex;
    align-items: center;
  }
}

.header-close .icon-close {
  fill: var(--color-white);
}

@media screen and (max-width: 768px) {
  site-header {
    background-color: #fff;
  }

  site-header .ui-container {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  site-header .ui-container .burger-menu {
    display: flex;
  }

  body.dark site-header {
    background-color: #0a0a16;
  }

  .header-menu {
    transition: opacity 0.3s;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-woodsmoke);
    opacity: 0;
    display: none;
  }
  .header-menu stencil-route-link + stencil-route-link,
  .header-menu a + stencil-route-link,
  .header-menu stencil-route-link + a {
    margin-left: 0px;
    margin-top: 38px;
  }
  .header-menu a {
    font-size: 24px;
    color: rgba(235, 235, 247, 0.7);
    fill: rgba(235, 235, 247, 0.7);
  }
  .header-menu a:hover,
  .header-menu a.link-active {
    border-bottom-color: rgba(235, 235, 247, 0.4);
  }
  .header-menu a.link-active,
  .header-menu a.link-active:hover {
    color: var(--color-white);
    fill: var(--color-white);
  }
  .header-menu stencil-route-link,
  .header-menu a,
  .header-menu .external-links {
    transition: transform 0.4s;
    transform: translateY(8px);
  }
  .header-menu .link--external:hover {
    color: var(--color-white);
  }
  .header-menu .external-links li + li {
    margin-left: 24px;
  }
  .header-menu .link--external svg {
    width: 24px;
    height: 24px;
  }

  .header-menu stencil-route-link + .external-links,
  .header-menu a + .external-links {
    margin-left: 0;
    margin-top: 48px;
  }
  .header-menu .stencil-ds svg {
    transform: translate(-2px, 6px);
  }

  .show-mobile-menu {
    z-index: 999999;
  }

  .show-mobile-menu .header-menu {
    opacity: 1;
  }

  .show-mobile-menu .header-menu stencil-route-link,
  .show-mobile-menu .header-menu a,
  .show-mobile-menu .header-menu .external-links {
    transform: translateY(0);
  }

  .show-mobile-menu .header-menu--show + .header-overflow {
    display: none;
  }
}
