@import '../../global/variables';

site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;

  .logo {
    width: 96px;
  }

  .site-header {
    padding: 20px 15px;
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: $breakpoint-md) {
    .site-header {
      flex-direction: column;
      align-items: center;
    }
  }
}

.site-header__menu {
  a {
    transition: border .3s;
    font-size: 14px;
    padding-bottom: 4px;
    border-bottom: 3px solid transparent;
    vertical-align: top;
    color: $color-manatee;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: -0.02em;
  }

  stencil-route-link + stencil-route-link,
  stencil-route-link + a {
    margin-left: 30px;
  }

  a:hover,
  a.link-active {
    border-bottom-color: rgba($color-manatee, 0.2);
  }

  a.link-active,{
    color: $color-gunpowder;
  }

  @media screen and (max-width: $breakpoint-md) {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    padding-top: 20px;

    a {
      font-size: 12px;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    a {
      display: none;
    }
    stencil-route-link a {
      display: initial;
    }
  }
}
