
site-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  z-index: 99;
}

site-header .container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  site-header .container {
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
  }
}

.header-menu a {
  transition: border .3s, color .3s;
  font-size: 14px;
  padding-bottom: 4px;
  border-bottom: 3px solid transparent;
  vertical-align: top;
  color: var(--color-gunpowder);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.header-menu stencil-route-link + stencil-route-link,
.header-menu stencil-route-link + a {
  margin-left: 30px;
}

.header-menu a:not(.link--external):hover,
.header-menu a.link-active {
  border-bottom-color: rgba(136, 136, 162, 0.2);
}

.header-menu a.link-active {
  color: var(--color-gunpowder);
}

.header-menu .link--external .icon {
  transition: top 0.2s, left 0.2s;
  position: relative;
}

.header-menu .link--external:hover {
  color: var(--color-gunpowder);
}

.header-menu .link--external:hover .icon {
  left: 1px;
  top: -1px;
}

.header-overflow,
.header-close {
  transition: opacity 0.3s;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 22px;
  height: 18px;
  display: none;
  cursor: pointer;
  opacity: 0.7;
}

.header-overflow:hover,
.header-close:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .header-overflow,
  .header-close {
    display: flex;
    justify-content: center;
  }
}

.header-close .icon-close {
  fill: var(--color-white);
}

@media screen and (max-width: 768px) {
  .header-menu {
    transition: opacity 0.3s;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-woodsmoke);
    opacity: 0;
    display: none;
  }
  .header-menu stencil-route-link + stencil-route-link,
  .header-menu stencil-route-link + a {
    margin-left: 0px;
    margin-top: 38px;
  }
  .header-menu a {
    font-size: 24px;
    color: rgba(235, 235, 247, 0.7);
  }
  .header-menu a:not(.link--external):hover,
  .header-menu a.link-active {
    border-bottom-color: rgba(235, 235, 247, 0.4);
  }
  .header-menu a.link-active,
  .header-menu a.link-active:hover {
    color: var(--color-white);
  }
  .header-menu stencil-route-link,
  .header-menu .link--external {
    transition: transform 0.4s;
    transform: translateY(8px);
  }
  .header-menu .link--external:hover {
    color: var(--color-white);
  }

  .show-mobile-menu {
    z-index: 999999;
  }

  .show-mobile-menu .header-menu {
    opacity: 1;
  }

  .show-mobile-menu .header-menu stencil-route-link,
  .show-mobile-menu .header-menu .link--external {
    transform: translateY(0);
  }

  .show-mobile-menu .header-menu--show + .header-overflow {
    display: none;
  }
}
