site-header {
  .site-header {
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
  }
  .logo {
      width: 150px;
  }
  stencil-route-link {
    margin: 10px;
    font-size: 20px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .pull-right {
    order: 0;
    flex: 1 1 auto;
    align-self: center;
    text-align: right;
  }
}

@media screen and (max-width: 450px) {
  site-header {
    img {
      padding-bottom: 20px;
    }
    .site-header, .pull-right {
      display: block;
      text-align: center;
    }
  }
}
