
site-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  z-index: 99;
}

site-header .container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu stencil-route-link {
  transform: translate(0, -3px);
}

.header-menu .stencil-ds svg {
  transform: translate(-2px, 1px);
}

@media screen and (max-width: 768px) {
  site-header .container {
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
  }
}

.header-menu stencil-route-link a {
  transition: border .3s, color .3s;
  font-size: 14px;
  padding-bottom: 4px;
  border-bottom: 3px solid transparent;
  vertical-align: top;
  color: var(--color-gunpowder);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: -0.02em;
  fill: var(--color-gunpowder);
}

.header-menu stencil-route-link + stencil-route-link,
.header-menu stencil-route-link + .external-links  {
  margin-left: 36px;
}

.header-menu stencil-route-link a:hover {
  border-bottom-color:var(--color-whisper);
}
.header-menu stencil-route-link a.link-active {
  border-bottom-color: rgba(87, 85, 246, 0.3);
}

.header-menu stencil-route-link a.link-active {
  color: var(--color-dodger-blue);
  fill: var(--color-dodger-blue);
}

.header-menu .external-links {
  display: flex;
  align-items: center;
}
.header-menu .external-links li + li {
  margin-left: 16px;
}

.header-menu .link--external {
  border-bottom: none;
}
.header-menu .link--external:hover {
  border-bottom: none;
  color: var(--color-gunpowder);
}
.header-menu .link--external svg {
  transition: fill 0.2s;
  fill: #A3A3B0;
}
.header-menu .link--external:hover svg {
  fill: var(--color-gunpowder);
}

.header-overflow,
.header-close {
  transition: opacity 0.3s;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 22px;
  height: 18px;
  display: none;
  cursor: pointer;
  opacity: 0.7;
}

.header-overflow:hover,
.header-close:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .header-overflow,
  .header-close {
    display: flex;
    justify-content: center;
  }
}

.header-close .icon-close {
  fill: var(--color-white);
}

@media screen and (max-width: 768px) {
  site-header {
    position: fixed;
  }

  .header-menu {
    transition: opacity 0.3s;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-woodsmoke);
    opacity: 0;
    display: none;
  }
  .header-menu stencil-route-link + stencil-route-link,
  .header-menu stencil-route-link + a {
    margin-left: 0px;
    margin-top: 38px;
  }
  .header-menu stencil-route-link a {
    font-size: 24px;
    color: rgba(235, 235, 247, 0.7);
  }
  .header-menu stencil-route-link a:hover,
  .header-menu stencil-route-link a.link-active {
    border-bottom-color: rgba(235, 235, 247, 0.4);
  }
  .header-menu stencil-route-link a.link-active,
  .header-menu stencil-route-link a.link-active:hover {
    color: var(--color-white);
  }
  .header-menu stencil-route-link,
  .header-menu .link--external {
    transition: transform 0.4s;
    transform: translateY(8px);
  }
  .header-menu .link--external:hover {
    color: var(--color-white);
  }

  .show-mobile-menu {
    z-index: 999999;
  }

  .show-mobile-menu .header-menu {
    opacity: 1;
  }

  .show-mobile-menu .header-menu stencil-route-link,
  .show-mobile-menu .header-menu .link--external {
    transform: translateY(0);
  }

  .show-mobile-menu .header-menu--show + .header-overflow {
    display: none;
  }
}
