site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;

  .logo-link a {
    margin: 0;
  }
  
  .site-header {
    padding: 20px 15px;
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .logo {
    width: 96px;
  }

  stencil-route-link, a {
    margin-right: 1.4em;
  }

  stencil-route-link a, a {
    font-size: 14px;
    margin: 8px 8px;
    color: #86869c;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-decoration: none;
    transition: all .2s ease;
  }

  stencil-route-link a:hover, stencil-route-link a.link-active {
    color: #2b2b38 !important;
    text-decoration: none;
  }

  .pull-right {
    order: 0;
    flex: 1 1 auto;
    text-align: right;
  }

  a.svg-button svg {
    vertical-align: text-bottom;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
  }

  a.svg-button svg:hover {
    fill: #5850ff;
    transform: scale(1.2);
  }

  @media screen and (max-width: 450px) {
    img {
      padding-bottom: 20px;
    }
    .pull-right {
      display: block;
      text-align: center;
    }

  }

  @media screen and (max-width: 465px) {
    .button {
      display: none;
    }
  }
  
  @media screen and (min-width: 450px) {
    .logo {
      height: 27px;
    }
  }
  
  @media screen and (max-width: 722px) {
    stencil-route-link a, a {
      font-size: 12px;
      margin: 8px 12px;
    }

    .pull-right {
      justify-content: space-around;
      display: flex;
    }

    .site-header {
      flex-direction: column;
    }
  
    stencil-route-link {
      margin-right: unset;
    }
  }
}

.github-button {
  background-color: #eff3f6;
  height: 18px;
  padding: 3px 4px;
  line-height: 18px;
  cursor: pointer;
  border: 1px solid #d1d2d3;
  border-radius: 0.25em;
  color: #24292e;

  span {
    padding-left: 3px;
  }
}

.octicon {
  position: relative;
  display: inline-block;
  fill: currentColor;
  height: 14px;
  top: 2px;
}