@import '../../global/variables';

* {
  box-sizing: border-box;

  &::selection,
  &::-moz-selection {
    background: $color-whisper;
  }
}

stencil-route-link:hover {
  cursor: pointer;
}

stencil-site {
  min-height: 100%;
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.left-sidebar-in {
  animation-name: slideIn;
  animation-duration: 0.7s;
  animation-timing-function: $easeOutExpo;
  animation-fill-mode: forwards;
}
@keyframes slideIn {
  from {
    left: 0;
  }

  to {
    left: calc(100vw - 56px);
  }
}

.left-sidebar-out {
  animation-name: slideOut;
  animation-duration: 0.7s;
  animation-timing-function: $easeOutExpo;
  animation-fill-mode: forwards;
}
@keyframes slideOut {
  from {
    left: calc(100vw - 56px);
  }

  to {
    left: 0;
  }
}

.container {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  flex: 1 0 auto;
}

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100.1vh;

  padding: 110px 0 0;

  @media screen and (max-width: $breakpoint-md) {
    padding-top: 90px;
  }
}

footer {
  width: 100%;
  background: $color-white-lilac;
  flex: 0 0 8em;
  margin-top: 100px;
  padding: 40px 0;
  display: flex;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .svg-button {
    margin-left: 16px;
    transition: all .15s ease;
  }

  .svg-button:hover {
    opacity:0.5;
  }
}

.footer__icons {
  display: flex;
}

.footer__open-source {
  img {
    width: 50%;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    color: #6C7078;
    font-size: 10px;
  }
}
