announcement-bar {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

@media (max-width: 48em) {
  announcement-bar {
    display: none;
  }
}

announcement-bar {
  background: #001934 var(--asset-path);
  background-size: 1800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
}

announcement-bar .ui-container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 4.5rem;
}

announcement-bar p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4rem;

  margin-inline-start: 2rem;
  margin-inline-end: 2rem;

  color: #fff;
}

announcement-bar button {
  border: none;

  background-color: #8bfbff;
  border-radius: 0;

  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9rem;
  color: #001a3a;

  padding: 7.5px 12px 9.5px;

  min-height: 32px;

  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.08rem;

  transition: background-color 0.2s ease-out;
}
announcement-bar button:hover {
  background-color: #bbfcff;
}
announcement-bar button:active {
  background-color: #73f6fb;
}
