announcement-bar {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;

  @media (max-width: 48em) {
    display: none;
  }
}

/* #region ---------- IONICONF --------- */

announcement-bar {
  min-height: 74px;
  background: #000 var(--asset-path);
  background-size: 1800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

announcement-bar .ui-container {
  min-height: 4.625rem;
  display: grid;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  grid-template-columns: 155px fit-content(100%) fit-content(100%);
}
announcement-bar .ui-container::before {
  content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU1IiBoZWlnaHQ9IjIwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNDYuOTMgNy4zM3YtLjVoLTQuNDZWMy45NGwxLjM3LS4xYTQuOTYgNC45NiAwIDAwMi45LS45NiA0LjA4IDQuMDggMCAwMDEuMjgtMi4xMWgzLjF2MTQuOTloMy4zOHYzLjQyaC0xMi4yNXYtMy40Mmg0LjY4VjcuMzN6IiBzdHJva2U9IiMwMEQyODciLz48cGF0aCBkPSJNMTI4LjkzIDguMThoLTQuMDVhNS45MiA1LjkyIDAgMDEtLjItMS41OGMwLTMuNjYgMy4xNi02LjEgNy4wMi02LjEgMi4xMyAwIDMuODIuNjIgNC45OCAxLjY1YTUuNDcgNS40NyAwIDAxMS44IDQuMjFjMCAyLjQzLTEuNDcgNC4yNS0zLjY4IDYuMDUgMCAwIDAgMCAwIDBsLTIuOTggMi40LTEuMS45aDcuNzJ2My40N0gxMjQuOXYtMi45M2w1LjI2LTQuMzNzMCAwIDAgMGMxLjIyLS45OSAyLjIyLTEuODIgMi45MS0yLjYyLjctLjggMS4xMy0xLjYxIDEuMTMtMi41NiAwLS43LS4yMi0xLjM4LS42Ny0xLjlhMi41NyAyLjU3IDAgMDAtMi0uODQgMi42IDIuNiAwIDAwLTIuMDMuOTFjLS40Ny41Ni0uNyAxLjMtLjcgMi4wNyAwIC40Mi4wNC44Mi4xMyAxLjJ6IiBzdHJva2U9IiNGRkNFMzEiLz48bWFzayBpZD0iYSIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTEwNy4xNyAxMGMwIDUuOSAyLjc0IDEwIDcuNjggMTAgNC45NSAwIDcuNjgtNC4xIDcuNjgtMTBzLTIuNzMtMTAtNy42OC0xMGMtNC45NCAwLTcuNjggNC4xLTcuNjggMTB6bTQuOTUgMGMwLTMuMzQuNi01LjkgMi43My01LjkgMS4wNyAwIDEuNzUuNjIgMi4xNiAxLjY3bC00Ljg5IDQuNThWMTB6bTUuNDcgMGMwIDMuMzQtLjYgNS45LTIuNzQgNS45LTEuMDYgMC0xLjc1LS42Mi0yLjE2LTEuNjdsNC45LTQuNTVWMTB6Ii8+PC9tYXNrPjxwYXRoIGQ9Ik0xMTcuMDEgNS43N2wuNjkuNzMuNS0uNDYtLjI2LS42NC0uOTMuMzd6bS00Ljg5IDQuNThoLTF2Mi4zbDEuNjgtMS41Ny0uNjgtLjczem0uNTcgMy44OGwtLjY4LS43My0uNS40Ni4yNS42NC45My0uMzd6bTQuOS00LjU1aDF2LTIuM2wtMS42OCAxLjU2LjY4Ljc0em0tMTEuNDIuMzJjMCAzLjA5LjcyIDUuODIgMi4xOCA3LjhhNy43NyA3Ljc3IDAgMDA2LjUgMy4ydi0yYTUuNzggNS43OCAwIDAxLTQuODktMi4zOGMtMS4xMy0xLjU0LTEuNzktMy44LTEuNzktNi42MmgtMnptOC42OCAxMWMyLjc5IDAgNS4wMS0xLjE3IDYuNS0zLjIgMS40Ny0xLjk4IDIuMTgtNC43MSAyLjE4LTcuOGgtMmMwIDIuODEtLjY1IDUuMDgtMS43OCA2LjYyYTUuNzggNS43OCAwIDAxLTQuOSAyLjM4djJ6bTguNjgtMTFjMC0zLjA5LS43LTUuODItMi4xOC03LjhhNy43NyA3Ljc3IDAgMDAtNi41LTMuMnYyYzIuMTcgMCAzLjc5Ljg4IDQuOSAyLjM4IDEuMTMgMS41NCAxLjc4IDMuOCAxLjc4IDYuNjJoMnptLTguNjgtMTFjLTIuNzggMC01IDEuMTctNi41IDMuMi0xLjQ2IDEuOTgtMi4xOCA0LjcxLTIuMTggNy44aDJjMC0yLjgxLjY2LTUuMDggMS44LTYuNjJBNS43OCA1Ljc4IDAgMDExMTQuODQgMXYtMnptLTEuNzMgMTFjMC0xLjY0LjE1LTIuOTYuNS0zLjg0YTIgMiAwIDAxLjU0LS44NGMuMTctLjEzLjM4LS4yMi43LS4yMnYtMmMtLjc2IDAtMS40Mi4yMy0xLjk3LjY4YTMuOTkgMy45OSAwIDAwLTEuMTMgMS42NSAxMy4wNCAxMy4wNCAwIDAwLS42NCA0LjU3aDJ6bTEuNzMtNC45Yy4zMyAwIC41NC4wOS43LjIyLjE4LjE0LjM3LjQuNTMuODFsMS44Ni0uNzNhMy44OCAzLjg4IDAgMDAtMS4xMy0xLjY0IDMuMDQgMy4wNCAwIDAwLTEuOTYtLjY2djJ6bTEuNDgtLjA2bC00LjkgNC41OCAxLjM3IDEuNDYgNC45LTQuNTgtMS4zNy0xLjQ2em0tMy4yMSA1LjMxdi0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMVYxMCAxMGgtMS0xVjEwLjM2aDJ6bTMuNDctLjM1YzAgMS42NC0uMTYgMi45Ni0uNSAzLjg0LS4xNy40My0uMzYuNjktLjU0Ljg0LS4xNy4xMy0uMzguMjItLjcuMjJ2MmMuNzUgMCAxLjQyLS4yMyAxLjk3LS42OC41Mi0uNDMuODgtMS4wMiAxLjEzLTEuNjUuNDktMS4yNC42NC0yLjg3LjY0LTQuNTdoLTJ6bS0xLjc0IDQuOWMtLjMyIDAtLjUzLS4wOS0uNy0uMjJhMS45IDEuOSAwIDAxLS41Mi0uODFsLTEuODcuNzNjLjI1LjYzLjYgMS4yMSAxLjE0IDEuNjQuNTUuNDQgMS4yMS42NiAxLjk1LjY2di0yem0tMS40Ny4wNmw0Ljg5LTQuNTUtMS4zNi0xLjQ3LTQuOSA0LjU2IDEuMzcgMS40NnptMy4yLTUuMjhWMTBoMnYtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMS0uMDEtLjAxLS4wMWgtMnoiIGZpbGw9IiMyNEEzRkYiIG1hc2s9InVybCgjYSkiLz48cGF0aCBkPSJNOTUuNTggOC4xOGgtNC4wNGE1LjkyIDUuOTIgMCAwMS0uMi0xLjU4YzAtMy42NiAzLjE2LTYuMSA3LjAxLTYuMSAyLjE0IDAgMy44My42MiA0Ljk4IDEuNjVhNS40NyA1LjQ3IDAgMDExLjggNC4yMWMwIDIuNDMtMS40NiA0LjI1LTMuNjcgNi4wNSAwIDAgMCAwIDAgMGwtMi45OCAyLjQtMS4xLjloNy43MXYzLjQ3SDkxLjU3di0yLjkzbDUuMjUtNC4zM3MwIDAgMCAwYTI0LjIgMjQuMiAwIDAwMi45MS0yLjYyYy43LS44IDEuMTMtMS42MSAxLjEzLTIuNTYgMC0uNy0uMjItMS4zOC0uNjctMS45QTIuNTcgMi41NyAwIDAwOTguMTkgNGEyLjYgMi42IDAgMDAtMi4wNC45MWMtLjQ3LjU2LS43IDEuMy0uNyAyLjA3IDAgLjQyLjA0LjgyLjEzIDEuMnoiIHN0cm9rZT0iI0YyNEM1OCIvPjxwYXRoIGQ9Ik0xLjA4IDQuM2MuNjIgMCAxLjA5LS40MyAxLjA5LTEgMC0uNjItLjQ3LTEuMDQtMS4wOS0xLjA0Qy40NSAyLjI2IDAgMi42OCAwIDMuMjljMCAuNTguNDUgMSAxLjA4IDF6TS40MiAxOS4zNWgxLjNWNi4wM0guNDJ2MTMuMzJ6TTEwLjE2IDE5LjY3YzQuNCAwIDcuMDYtMy4zNiA3LjA2LTYuOThhNi44NiA2Ljg2IDAgMDAtNy4wNi02Ljk4IDYuODYgNi44NiAwIDAwLTcuMDcgNi45OCA2Ljg2IDYuODYgMCAwMDcuMDcgNi45OHptLTUuNzQtNi45OGMwLTMuMjMgMi4yMy01Ljg0IDUuNzQtNS44NCAzLjUgMCA1LjczIDIuNjEgNS43MyA1Ljg0IDAgMy4yMi0yLjIzIDUuODQtNS43MyA1Ljg0LTMuNSAwLTUuNzQtMi42Mi01Ljc0LTUuODR6TTIwLjIgNi4wM2gtMS4zdjEzLjMyaDEuM1YxMS4zYzAtMi45OCAyLjE1LTQuNDkgNC42OC00LjQ5IDIuOCAwIDQuMTQgMS42MSA0LjE0IDQuM3Y4LjIzaDEuMzF2LTguNmMwLTIuODctMS44NC01LjA0LTUuMzQtNS4wNC0yLjk4IDAtNC4zNyAxLjcyLTQuNzkgMi40OVY2LjAzek0zMi45NSA0LjNjLjYxIDAgMS4wOS0uNDMgMS4wOS0xIDAtLjYyLS40OC0xLjA0LTEuMDktMS4wNC0uNjQgMC0xLjA4LjQyLTEuMDggMS4wMyAwIC41OC40NCAxIDEuMDggMXptLS42NyAxNS4wNWgxLjMxVjYuMDNoLTEuM3YxMy4zMnpNMzUuMDQgMTIuNWE3IDcgMCAwMDcuMiA3LjE3YzQuMjkgMCA2LjQ2LTIuODMgNi44NS01LjI5aC0zLjRjLS4zOCAxLjQ4LTEuNyAyLjUxLTMuNDcgMi41MS0yLjM3IDAtMy44Ny0xLjgyLTMuODctNC4zOSAwLTIuNTkgMS41LTQuNDEgMy44Ny00LjQxIDEuNzggMCAzLjA5IDEuMDMgMy40OCAyLjUxaDMuMzljLS4zOS0yLjQ2LTIuNTYtNS4yOC02Ljg0LTUuMjgtNC4yNiAwLTcuMjEgMy4yLTcuMjEgNy4xOHpNNTcuMjMgMTkuNjdjNC42MiAwIDcuNTEtMy4zIDcuNTEtNy4xNyAwLTMuODUtMi45LTcuMTgtNy41LTcuMThzLTcuNSAzLjMzLTcuNSA3LjE4YzAgMy44NiAyLjkgNy4xNyA3LjQ5IDcuMTd6bS00LjE3LTcuMTdjMC0yLjY3IDEuNzgtNC40MSA0LjE3LTQuNDEgMi40MiAwIDQuMiAxLjc0IDQuMiA0LjQxIDAgMi42NS0xLjc4IDQuMzktNC4yIDQuMzktMi40IDAtNC4xNy0xLjc0LTQuMTctNC4zOXpNNjkuMyA1LjYzaC0zLjA1djEzLjcyaDMuM3YtNy45NmMwLTIuMTQgMS4zMi0zLjM4IDMuNC0zLjM4IDEuOTggMCAyLjg3IDEuMjQgMi44NyAzLjEydjguMjJoMy4zdi04LjYyYzAtMy4yLTEuODYtNS40MS01LjM2LTUuNDEtMi4zNyAwLTMuODQgMS4wNS00LjQ1IDIuMTRWNS42M3pNODAuNjcgOC4xNHYxMS4yaDMuMzFWOC4xNWgyLjczdi0yLjVoLTIuNzN2LS40N2MwLTEuNS41My0yLjAzIDEuODctMi4wM2guODZWLjQ0cy0uOS0uMS0xLjUzLS4xYy0yLjc2IDAtNC41IDEuNDItNC41IDQuNjV2My4xNXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=');
  margin-block-end: -6px;
}

announcement-bar p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #dee3ea;
  margin: 0;
}
announcement-bar p strong,
announcement-bar p b {
  color: #fff;
}

announcement-bar .button {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  color: #ffffff;

  min-height: 2rem;

  padding: 8px 12px 9px;

  border-radius: 0px;

  white-space: nowrap;
  text-transform: uppercase;

  background: linear-gradient(0deg, #ff8753, #ff8753), linear-gradient(85.46deg, #4cc3ff 0%, #4172ff 100%), #51dddd;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.06);
}

/* #endregion */
