pwas-page {
  img {
    max-width: 100%;
    margin-top: 1em;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
  }

  h5 {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }
}