
document-component {
  display: block;
  margin-bottom: 100px;
}

document-component > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

document-component h1 {
  margin-top: 100px;
}

document-component h1:first-of-type {
  margin-top: 0;
}

document-component h2,
document-component h3 {
  margin-bottom: 0;
  margin-top: 52px;
}

document-component ul,
document-component ol {
  padding: 0 0 0 20px;
  margin-bottom: 16px;
}

document-component ul ul {
  margin: 2px 0;
}

document-component ul li {
  font-size: 15px;
}

document-component .measure-lg {
  margin-left: auto;
  margin-right: auto;
}

document-component svg {
  width: 100%;
}

document-component .btn.pull-left,
document-component .btn.pull-right {
  margin: 52px 6px 15px;
}

document-component .doc-content {
  flex: 1;
  min-width: 0;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

document-component .heading-link {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
}

document-component .heading-link app-icon {
  transition: opacity 0.2s;
  position: absolute;
  left: -20px;
  display: flex;
  align-items: center;
  opacity: 0;
}

document-component .heading-link:hover app-icon {
  opacity: 0.8;
}

document-component table app-icon svg.icon-checkmark {
  fill: var(--color-green-haze);
}


document-component .align-right {
  text-align: right;
}

document-component .caption {
  font-size: 12px;
  color: var(--color-dolphin);
}

@media screen and (max-width: 1024px) {
  document-component .doc-content {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  document-component .doc-content {
    padding-left: 0;
  }

  document-component .measure-lg {
    max-width: 560px;
  }
}

@media screen and (max-width: 480px) {
  document-component h1 {
    font-size: 26px;
  }

  document-component p,
  document-component ul li,
  document-component ol li {
    font-size: 14px;
  }
}
