
document-component > div {
  display: flex;
  justify-content: space-between;
}

document-component h1 {
  margin-top: 100px;
}

document-component h1:first-of-type {
  margin-top: 0;
}

document-component ul {
  padding: 0;
}

document-component ul li,
document-component ul code {
  font-size: 16px;
  margin-left: 18px;
}

document-component .btn.pull-left,
document-component .btn.pull-right {
  margin: 40px 6px 15px;
}
