@import '../../global/variables';

document-component {
  & > div {
    display: flex;
    justify-content: space-between;
  }

  h1:first-of-type {
    margin-top: 0;
  }

  ul {
    padding: 0;

    li, code {
      font-size: 16px;
      margin-left: 18px;
    }
  }

  .btn.pull-left,
  .btn.pull-right {
    margin: 40px 6px 15px;
  }
}
