
.btn {
  transition: all .15s ease;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  letter-spacing: 0.04em;
  box-shadow: var(--button-shadow);
  cursor: pointer;
}

.btn:hover {
  transform: translateY(1px);
  box-shadow: var(--button-shadow-hover);
}

.btn--primary {
  background: var(--color-dodger-blue);
  color: var(--color-white);
}

.btn-secondary {
  background: var(--color-white);
  color: var(--color-dodger-blue);
}
