.card-links {
  display: inline-flex;
}

.card-links li + li {
  margin-left: 12px;
}

.card-links__item a {
  transition: transform 0.2s;
  display: inline-block;
  background: var(--color-white);
  font-size: 13px;
  font-weight: 400;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: none;
}

.card-links__item a:hover {
  transform: translateY(1px);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
}

.card-links__item .fw-icon {
  margin: 8px 0 6px;
}
