.card-links {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  width: 100%;
}
.card-links li {
  margin: 6px;
}

.card-links__item a {

  transition: transform 0.2s;
  display: block;
  background: var(--color-white);
  font-size: 13px;
  font-weight: 400;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: none;
  width: 96px;
}

@media screen and (max-width: 940px) {
  .card-links li {
    flex: 0 0 50%;
    margin: 0;
    padding: 6px;
  }

  .card-links__item a {
    width: 100%;
  }
}

.card-links__item a:hover {
  transform: translateY(1px);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
}

.card-links__item .fw-icon {
  margin: 8px 0 6px;
}
