.fw-icon {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url('/assets/img/frameworks-sprite.png');
  background-repeat: no-repeat;
  background-size: 35px 140px;
}

.fw-icon--react {
  background-position: 0 0;
}

.fw-icon--angular {
  background-position: 0 -35px;
}

.fw-icon--vue {
  background-position: 0 -70px;
}

.fw-icon--ember {
  background-position: 0 -105px;
}
