.hbspt-form {
  max-width: 420px;
  margin: 40px auto;
  font-weight: 400; }
  .hbspt-form .hs-form-required {
    display: none; }
  .hbspt-form form fieldset.form-columns-2 .input {
    margin-right: 12px; }
  .hbspt-form form.stacked .field {
    margin-bottom: 4px; }
  .hbspt-form .hs-input,
  .hbspt-form input.hs-input,
  .hbspt-form select.hs-input {
    border: 1px solid #e1e5ed;
    font-weight: 500;
    border-radius: 4px;
    transition: border-color .2s;
    box-shadow: none;
    outline: none;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429; }
    .hbspt-form .hs-input:placeholder,
    .hbspt-form input.hs-input:placeholder,
    .hbspt-form select.hs-input:placeholder {
      color: #a0a5b0; }
    .hbspt-form .hs-input:hover, .hbspt-form .hs-input:focus, .hbspt-form .hs-input:active,
    .hbspt-form input.hs-input:hover,
    .hbspt-form input.hs-input:focus,
    .hbspt-form input.hs-input:active,
    .hbspt-form select.hs-input:hover,
    .hbspt-form select.hs-input:focus,
    .hbspt-form select.hs-input:active {
      outline: none;
      border-color: #4a8bfc;
      box-shadow: none; }
    .hbspt-form .hs-input.hs-input.error,
    .hbspt-form input.hs-input.hs-input.error,
    .hbspt-form select.hs-input.hs-input.error {
      border-color: #f8556c; }
  .hbspt-form select.hs-input {
    height: 44px;
    width: calc(100% + 6px) !important; }
  .hbspt-form textarea.hs-input {
    padding: 12px;
    width: calc(100% + 3px) !important;
    min-height: 192px; }
  .hbspt-form .hs_submit input.hs-button {
    font-size: 13px;
    padding: 10px 18px 10px;
    margin-right: -14px;
    margin-top: -36px;
    line-height: 23px;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
    text-shadow: none;
    background: var(--color-dodger-blue);
    color: white;
    margin-top: 25px;
    border: 0;
    outline: 0;
    transition: all .2s linear;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); }
    .hbspt-form .hs_submit input.hs-button:hover {
      border: 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
      background: #5995fc;
      color: #fff;
      outline: 0; }
    .hbspt-form .hs_submit input.hs-button:active, .hbspt-form .hs_submit input.hs-button:active:not(.inactive):not(.link), .hbspt-form .hs_submit input.hs-button:focus:not(.inactive) {
      border: 0;
      color: #fff;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
      background: #5995fc;
      outline: 0; }
  .hbspt-form .submitted-message {
    font-size: 18px;
    padding: 34px 0 78px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    font-weight: 400;
    color: #35af55;
    max-width: 410px;
    background-color: white;
    margin: 0 auto; }
    .hbspt-form .submitted-message:before {
      content: '';
      display: block;
      background-image: url("/img/checkmark-light-green.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 42px;
      height: 42px;
      margin-bottom: 12px; }