.modal,
.modal__background,
.modal__content {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal__background,
.modal__content {
  position: absolute;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
}

.modal__background {
  background: rgba(0,0,0,0.8);
}

.modal--hide .modal__background {
  animation-name: fadeOut;
}

.modal--show .modal__background {
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal--show .modal__content {
  animation-name: slideIn;
  animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  animation-duration: 0.6s;
}

.modal--hide .modal__content {
  animation-name: slideOut;
  animation-timing-function: linear;
  animation-duration: 0.2s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(-30px);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(-30px);
  }

  to {
    opacity: 0;
    transform: translateY(0);
  }
}
