
:root {
  --color-woodsmoke: #03060B;
  --color-gandalf: #414155;
  --color-gunpowder: #505061;
  --color-dolphin: #2D4665;
  --color-manatee: #8888A2;
  --color-concrete: #9F9EB2;
  --color-cadet-blue: #abb2bf;
  --color-whisper: #EBEBF7;
  --color-selago: #F4F4FD;
  --color-white-lilac: #f8f8fc;
  --color-white: #fff;

  --color-green-haze: #00AB47;

  --color-dodger-blue-rgb: 76, 72, 255;
  --color-dodger-blue: rgb(76, 72, 255);
  --color-dodger-blue-hover: rgba(76, 72, 255, 0.2);

  --color-purplewinkle: #F4F4FF;

  --color-old-lace: #fdf5e4;
  --color-wheatfield: #F1E3C5;
  --color-pirate-gold: #9A6400;

  --button-shadow:  0px 2px 4px rgba(2, 8, 20, 0.1), 0px 1px 2px rgba(2, 8, 20, 0.08);
  --button-shadow-hover: 0 4px 6px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.08);

  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}
