@import '../../global/variables';

site-menu {
  flex: 0 0 200px;

  h4 {
    margin-bottom: 0;
  }

  .menu-list li,
  .menu-list ul  li{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu-list {
    margin-top: 0;

    h4:first-of-type {
      margin-top: 0;
    }

    ul {
      margin: 0px 0 28px;
    }

    li {
      line-height: 2.2;
      font-size: 14px;
    }

    a {
      font-weight: 400;
      color: darken($color-manatee, 10%);
      text-decoration: none;
      border: 0;
    }

    a:not(.link-active) {
      transition: color 0.2s;
    }

    a:hover {
      border: 0;
    }

    .link-active {
      font-weight: bold;
      color: $color-dodger-blue;
    }

    a:hover:not(.link-active) {
      color: $color-woodsmoke;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    position: fixed;
    top: 0;
    left: 0;
    background: $color-woodsmoke;
    z-index: 999;
    padding: 20px;
    width: calc(100vw - 56px);
    transform: translateX(calc(-100vw + 56px));
    height: 100%;
    overflow-y: scroll;

    .menu-list {
      h4 {
        color: $color-white;
      }
      a {
        color: rgba($color-white, 0.6);
      }
      a:hover:not(.link-active) {
        color: rgba($color-white, 1);
      }
    }


  }
}
