@import '../../global/variables';

site-menu {
  flex: 0 0 200px;

  h4 {
    margin-bottom: 0;
  }

  .menu-list li,
  .menu-list ul  li{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu-list {
    ul {
      margin: 0px 0 28px;
    }

    li {
      font-size: 14px;
      font-weight: 400;
    }

    a {
      color: darken($color-manatee, 10%);
      text-decoration: none;
    }

    .link-active {
      font-weight: bold;
      color: $color-dodger-blue;
    }

    a:hover:not(.link-active) {
      color: $color-woodsmoke;
    }
  }

  // @media screen and (max-width: $breakpoint-md) {
  //   display: none;
  // }
}
