site-menu {
  h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-padding-start: 0;
  }
  li {
    list-style: none;
    margin: 0;
    text-indent: 0;
    font-size: 14px;
    font-weight: 300;
  }

  stencil-route-link{
  color: #484854;
}

}
