site-menu {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  background: #f3f3f3;
  width: 20em;
  padding-top: 60px;
  padding-left: 20px;

  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0;
  }

  .section {
    margin-bottom: 15px;
  }

  .section-title {
    font-size: 1.3em;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  ul > li > ul > li {
    padding: 3px 0;
  }
}