site-menu {
  display: block;
  flex: 0 0 auto;
  /* max-width: 250px; */
}

site-menu .wrapper {
  position: relative;
}

site-menu .site-search {
  margin-bottom: 16px;
}

site-menu .menu-search-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

site-menu .menu-search-list li {
  background: white;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 4px;
}

site-menu .menu-search-list li:hover {
  border: 1px solid #eee;
  background: #f5f5f5;
}

site-menu .menu-search-list li span em {
  background-color: rgba(var(--color-dodger-blue-rgb), 0.5);
}

site-menu .menu-search-list li p {
  margin: 4px 0;
}

site-menu .section-label {
  color: var(--color-woodsmoke);
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}

site-menu .menu-list li, site-menu .menu-list ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

site-menu .menu-list {
  margin-top: 0;
  padding: 0;
}

site-menu .menu-list .section-label:first-of-type {
  margin-top: 0;
}

site-menu .menu-list ul {
  padding: 0;
}

site-menu .menu-list li {
  font-size: 14px;
}

site-menu .menu-list>li+li {
  margin-top: 10px;
}

site-menu .menu-list a {
  font-weight: 400;
  color: #6c6c8b;
  text-decoration: none;
  border: 0;
}

site-menu .menu-list a:not(.link-active) {
  transition: color 0.2s;
}

site-menu .menu-list a:hover {
  border: 0;
}

site-menu .menu-list .link-active {
  font-weight: bold;
  color: var(--color-dodger-blue);
}

site-menu .menu-list a:hover:not(.link-active) {
  color: var(--color-woodsmoke);
}

site-menu .menu-list ul li {
  padding-left: 12px;
  transition: 80ms height;
  height: 26px;
  display: block;
  overflow: hidden;
}

site-menu .menu-list ul.collapsed li {
  height: 0;
}

@media screen and (max-width: 768px) {
  site-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color-woodsmoke);
    z-index: 999;
    padding: 20px;
    width: calc(50vw - 64px);
    transform: translate3d(calc(-100vw + 56px), 0, 0);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  site-menu .menu-list .section-label {
    color: white;
  }
  site-menu .menu-list a {
    color: rgba(255, 255, 255, 0.6);
  }
  site-menu .menu-list a:hover:not(.link-active) {
    color: white;
  }
  .algolia-autocomplete .ds-dropdown-menu {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

@media screen and (max-width: 576px) {
  site-menu {
    width: calc(100vw - 64px);
    transform: translate3d(calc(-100vw + 56px), 0, 0);
  }
}
