site-menu {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0;
  }

  .section {
    margin-bottom: 15px;
  }

  .section-title {
    font-size: 1.3em;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  ul > li > ul > li {
    padding: 3px 0;
  }
}