name: Check Markdown

on:
  pull_request:
    branches:
      - '**'

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0

    - name: Use Node from Volta
      uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
      with:
        node-version-file: 'package.json'
        cache: 'npm'

    - name: install dependencies
      run: npm ci

    - name: check internal markdown links
      run: npm run check-links

  markdown-spelling-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0

    - name: Use Node from Volta
      uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
      with:
        node-version-file: 'package.json'
        cache: 'npm'

    - name: install dependencies
      run: npm ci

    - name: check spelling
      run: npm run spellcheck
