name: Format Stencil Docs (Check)

on:
  workflow_call:
    # Make this a reusable workflow, no value needed
    # https://docs.github.com/en/actions/using-workflows/reusing-workflows

jobs:
  format:
    name: Check
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout Code
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      # this overrides previous versions of the node runtime that was set.
      # jobs that need a different version of the Node runtime should explicitly
      # set their node version after running this step
      - name: Use Node Version from Volta
        uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4.0.1
        with:
          node-version-file: './package.json'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci
        shell: bash

      - name: Prettier Check
        run: npm run prettier.dry-run
        shell: bash
